:root {
  --courseHeight: 625px;
}

.courses {
  background: black;
  color: white;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  margin-top: 3em;
  margin-bottom: 2em;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.courses .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.courses .inner .techs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  grid-gap: 1em;
  -webkit-animation: marquee 50s linear infinite alternate;
          animation: marquee 50s linear infinite alternate;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.courses .inner .techs .tech {
  font-size: 0.85em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto !important;
  min-width: 150px;
}

.courses .inner .course {
  padding: 1em;
  margin: 1em 0;
  border-bottom: 10px solid var(--junior);
  border-top: 10px solid var(--junior);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  grid-gap: 2em;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: var(--courseHeight);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.courses .inner .course .left {
  width: 40%;
  height: 100%;
  min-height: var(--courseHeight);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 0.1em;
}

.courses .inner .course .left .timeAndCost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.courses .inner .course .left .timeAndCost .fa-clock {
  margin-left: 15px !important;
}

.courses .inner .course .left .timeAndCost .fa-dollar-sign {
  margin-left: 15px !important;
}

.courses .inner .course .left .value i {
  color: var(--junior);
  font-size: 1.03em;
  margin-right: 0.1em;
}

.courses .inner .course .left .value i:not(.fa-clock) {
  margin-left: -15px;
}

.courses .inner .course .left .value i:not(.fa-dollar-sign) {
  margin-left: -15px;
}

.courses .inner .course .left h2 {
  padding-bottom: 0.5em;
  border-bottom: 5px solid var(--junior);
}

.courses .inner .course .left :not(h2) {
  padding-left: 1em;
  font-size: 0.98em;
}

.courses .inner .course .left p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.courses .inner .course .left p span {
  width: 100%;
  padding-top: 1em;
  margin-top: 1em;
  border-top: 5px solid var(--junior);
}

.courses .inner .course .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  height: 100%;
  min-height: var(--courseHeight);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.courses .inner .course .right .projects {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  grid-gap: 1em;
}

.courses .inner .course .right .projects .project {
  width: 100%;
  height: 100%;
  min-width: 400px;
  min-height: var(--courseHeight);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  background: var(--junior);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
}

.courses .inner .course .right .projects .project .index {
  position: absolute;
  font-size: 2em;
  bottom: 1em;
  right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.courses .inner .course .right .projects .project .index .cartButton {
  background: black;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border-radius: 100%;
  height: 30px;
  width: 30px;
  color: white;
  font-size: 1em;
  padding: 0.5em;
  margin-bottom: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.courses .inner .course .right .projects .project:nth-child(2n + 1) {
  background: var(--silver);
  color: var(--secondary);
}

.courses .inner .course .right .projects .project .pTitleRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1em;
}

.courses .inner .course .right .projects .project .pTitleRow .projectData {
  font-weight: 500;
}

.courses .inner .course .right .projects .project .pTitleRow .projectData p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  grid-gap: 0.3em;
}

.courses .inner .course .right .projects .project h3 {
  font-size: 1.1em;
  width: 54%;
  text-align: left;
}

.courses .inner .course .right .projects .project p {
  margin: 0.5em;
}

.courses .inner .course .right .projects .project a {
  color: white;
  font-size: 1.5em;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.courses .inner .course .right .projects .project a:hover {
  color: white;
}

.courses .inner .course .right .projects .project a:hover i {
  color: white;
}

.courses .inner .course .right .projects .project i {
  color: black;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.courses .inner .course .right .projects .project .projectDescription {
  padding-left: 1em;
  font-weight: 500 !important;
}

.courses .inner .course .right .projects .project .projectDescription .projectPic {
  margin-top: 1em;
  width: 100%;
}

.courses .inner .course .right .projects .project .technologies {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 1em;
  padding-top: 1em;
  padding-right: 1em;
  font-style: italic;
}

.courses .inner .course .right .projects .project .technologies .technology {
  font-size: 0.85em;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  100% {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  100% {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}
/*# sourceMappingURL=courses.css.map */