:root {
  --courseHeight: 625px;
  --fullStackHeight: 755px;
}

.fullStackCourses {
  background: black;
  color: white;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  margin-bottom: 2em;
}

.fullStackCourses .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullStackCourses .inner .course {
  padding: 1em;
  margin: 1em 0;
  border-bottom: 10px solid var(--fullStack);
  border-top: 10px solid var(--fullStack);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  grid-gap: 2em;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: var(--fullStackHeight);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.fullStackCourses .inner .course .left {
  width: 40%;
  height: 100%;
  min-height: var(--fullStackHeight);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 0.1em;
}

.fullStackCourses .inner .course .left .timeAndCost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.fullStackCourses .inner .course .left .value i {
  color: var(--fullStack);
}

.fullStackCourses .inner .course .left .value i:not(.fa-clock) {
  margin-left: -15px;
}

.fullStackCourses .inner .course .left h2 {
  padding-bottom: 0.5em;
  border-bottom: 5px solid var(--fullStack);
}

.fullStackCourses .inner .course .left :not(h2) {
  padding-left: 1em;
  font-size: 1.03em;
}

.fullStackCourses .inner .course .left p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullStackCourses .inner .course .left p span {
  width: 100%;
  padding-top: 1em;
  margin-top: 1em;
  border-top: 5px solid var(--fullStack);
}

.fullStackCourses .inner .course .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  height: 100%;
  min-height: var(--fullStackHeight);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.fullStackCourses .inner .course .right .projects {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  grid-gap: 1em;
}

.fullStackCourses .inner .course .right .projects .project {
  width: 100%;
  height: 100%;
  min-width: 400px;
  min-height: var(--fullStackHeight);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  background: var(--fullStack);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fullStackCourses .inner .course .right .projects .project:nth-child(2n + 1) {
  background: var(--silver);
  color: var(--secondary);
}

.fullStackCourses .inner .course .right .projects .project .pTitleRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1em;
}

.fullStackCourses .inner .course .right .projects .project .pTitleRow .projectData {
  font-weight: 500;
}

.fullStackCourses .inner .course .right .projects .project .pTitleRow .projectData p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  grid-gap: 0.3em;
}

.fullStackCourses .inner .course .right .projects .project h3 {
  font-size: 1.1em;
  width: 54%;
  text-align: left;
}

.fullStackCourses .inner .course .right .projects .project p {
  margin: 0.5em;
}

.fullStackCourses .inner .course .right .projects .project a {
  color: white;
  font-size: 1.5em;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.fullStackCourses .inner .course .right .projects .project a:hover {
  color: white;
}

.fullStackCourses .inner .course .right .projects .project a:hover i {
  color: white;
}

.fullStackCourses .inner .course .right .projects .project i {
  color: black;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.fullStackCourses .inner .course .right .projects .project .projectDescription {
  padding-left: 1em;
  font-weight: 500 !important;
}

.fullStackCourses .inner .course .right .projects .project .projectDescription .projectPic {
  margin-top: 1em;
  width: 100%;
}

.fullStackCourses .inner .course .right .projects .project .technologies {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 1em;
  padding-top: 1em;
  padding-right: 1em;
  font-style: italic;
}

.fullStackCourses .inner .course .right .projects .project .technologies .technology {
  font-size: 0.85em;
}
/*# sourceMappingURL=courses.css.map */